.contact-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100vh - 5em);
}

.contact-container {
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  word-wrap: break-word;
  text-align: center;
}

.links {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
}

.links a {
  text-decoration: none;
  color: #111;
  margin: 0.5em;
  background-color: white;
  padding: 0.5em;
  border-radius: 3px;
  border-bottom: 3px #999 solid;
  transition: 0.25s all ease;
}

.links a:hover {
  border-bottom: 1px #999 solid;
}

.email-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 2em;
  font-size: 0.75em;
  color: grey;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 920px) {
  .contact-container {
    width: auto;
    margin: 0 2em;
    /* justify-content: flex-start; */
  }

  .links {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 560px) {
  .contact-container {
    height: 100vh;
  }
}
