.portfolio-container {
    width: 80vw;
    height: 100vh;
    margin: 1em auto;
    display: flex;
    justify-content: center;
}

.portfolio-row {
    width: 100%;
    display: flex;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex-direction: row;
    position: relative;
}

.portfolio-item {
    display: block;
    background-size: cover;
    background-position: top;
    height: 60vh;
    /*min-width: 10em;*/
    width: calc(100%/4);
    margin: 0.5em;
    /*filter: saturate(0);*/
}

.item-overlay {
    position: relative;
    background: white;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0;
    transition: 0.1s all ease;
}

.portfolio-item:hover .item-overlay {
    opacity: 0.33;
}

.portfolio-item-name {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    top: 50%;
    left: 0;
    background-color: rgba(0,0,0,0.9);
    font-size: 1.5em;
    padding: 10px 0;
}

@media screen and (max-width: 560px) {
    .portfolio-container {
        width: 100%;
    }

    .portfolio-row {
        flex-wrap: wrap;
        margin-top: 0 !important;
    }

    .portfolio-item {
        width: 100%;
        height: 300px;
    }

    .portfolio-item:hover .item-overlay {
        opacity: 0;
    }
}