.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.bottom-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}

.about-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-img {
  width: 100px;
  height: 100px;
}

.left-container {
  margin: 2em;
  max-width: 30%;
}

.right-container {
  margin: 2em;
  max-width: 55%;
}

@media screen and (max-width: 920px) {
  .left-container,
  .right-container {
    max-width: 40%;
  }
}

@media screen and (max-width: 720px) {
  .about-container {
    margin-top: 8em;
    display: block;
  }

  .bottom-container {
    flex-direction: column;
  }

  .left-container,
  .right-container {
    display: inline-block;
    max-width: 100%;
    margin: 0 2em;
  }

  .skills-container {
    display: flex;
    flex-direction: row;
  }

  .frontend-container {
    margin-right: 1em;
  }
}

@media screen and (max-width: 560px) {
  .left-container,
  .right-container {
    margin: 0 1em;
  }
}
