html,
body,
#root,
.App {
  background: #111;
  color: #eee;
  box-sizing: border-box;
  display: block;
  max-height: calc(100vh - 1em);
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.App {
  display: flex;
  flex: 1;
  flex-flow: column;
  margin: 0;
  padding-top: 5em;
  height: 100%;
}

.fadeTranslate-enter {
  opacity: 0;
  transform: translateY(16px);
}

.fadeTranslate-enter.fadeTranslate-enter-active {
  opacity: 1;
  transform: translateY(0);
  animation: animation 500ms;
  backface-visibility: hidden;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: all 250ms 250ms;
}

.fadeTranslate-exit {
  opacity: 1;
  transform: translateY(0);
}

.fadeTranslate-exit.fadeTranslate-exit-active {
  visibility: visible;
  opacity: 0;
  transform: translateY(16px);
  transition: all 250ms;
}

.fix-container {
  position: absolute;
  width: 100%;
  display: flex;
  flex: 1;
  top: 0;
}

.buttons a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  white-space: pre;
  color: #111;
  margin: 0 0.75em;
  background-color: white;
  padding: 0.5em;
  border-radius: 3px;
  border-bottom: 3px #999 solid;
  transition: 0.15s all ease;
}

.buttons a:hover {
  border-bottom: 1px #999 solid;
}

.window-titlebar {
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
}

.titlebar-button {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: black;
  margin: 0.75em;
  outline: none;
}

.clickable {
  cursor: pointer;
}

@media screen and (max-width: 560px) {
  .App {
    padding-top: 0;
    height: 100%;
  }
}
