html,
body,
#root {
  background: #111;
  color: #eee;
}
body {
  margin: 0;
  padding: 0;
}

.App {
  position: relative;
  display: flex;
  flex-flow: column;
  margin: 0;
  padding-top: 5em;
  height: calc(100% - 5em);
  overflow: auto;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.fadeTranslate-enter {
  opacity: 0;
  transform: translateY(16px);
  -webkit-transform: translateY(16px);
  overflow: hidden;
}

.fadeTranslate-enter.fadeTranslate-enter-active {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
  overflow: auto;
}

.fadeTranslate-exit {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  overflow: hidden;
}

.fadeTranslate-exit.fadeTranslate-exit-active {
  opacity: 0;
  transform: translateY(16px);
  -webkit-transform: translateY(16px);
  transition: opacity 250ms, transform 250ms;
  overflow: auto;
}

.fix-container {
  position: fixed;
  top: 0;
  width: 100%;
}

.hidden {
  opacity: 0;
}

.buttons a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  white-space: pre;
  color: #111;
  margin: 0 0.75em;
  background-color: white;
  padding: 0.5em;
  border-radius: 3px;
  border-bottom: 3px #999 solid;
  transition: 0.15s all ease;
}

.buttons a:hover {
  border-bottom: 1px #999 solid;
}

@media screen and (max-width: 560px) {
  .App {
    padding-top: 0;
    height: 100%;
  }
}
