.nav-container {
  background-color: rgba(17, 17, 17, 0.9);
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  z-index: 222;
}

.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1.75em;
}

.nav-location {
  position: absolute;
  left: 50%;
  right: 50%;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 18px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 221;
  transition: opacity 0.5s, visibility 0s 0.5s;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
}

.overlay.open {
  opacity: 1;
  visibility: visible;
  /*animation: fadeIn 0.4s ease forwards;*/
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}

.overlay ul {
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  perspective: 1200px;
}

.overlay ul li {
  display: block;
  text-decoration: none;
  text-align: center;
  color: grey;
  font-size: 3em;
  opacity: 0;
}

.overlay ul li a {
  display: block;
  text-decoration: none;
  color: grey;
  transition: 0.25s all ease;
  -webkit-transition: 0.25s all ease;
  -moz-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
}

.overlay ul li a:hover {
  color: rgba(244, 244, 244, 1);
}

.overlay.open li {
  animation: fadeFromTop 0.4s ease forwards;
  animation-delay: 0.1s;
}

.overlay.open li:nth-of-type(2) {
  animation-delay: 0.15s;
}

.overlay.open li:nth-of-type(3) {
  animation-delay: 0.2s;
}

.overlay.open li:nth-of-type(4) {
  animation-delay: 0.25s;
}

@keyframes fadeFromTop {
  0% {
    transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -o-transform: translateY(-100px);
  }

  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    opacity: 1;
  }
}

.overlay.close li {
  animation: fadeToTop 0.4s ease backwards;
}

.overlay.close li:nth-of-type(2) {
  animation-delay: 0.05s;
}

.overlay.close li:nth-of-type(3) {
  animation-delay: 0.1s;
}

.overlay.close li:nth-of-type(4) {
  animation-delay: 0.15s;
}

@keyframes fadeToTop {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    opacity: 0;
  }
}

.menu-container {
  cursor: pointer;
  z-index: 223;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  width: 1.75em;
  height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  outline: none;
}

.menu-container span {
  display: flex;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #eee;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.menu-container span:nth-child(1) {
  top: 0;
}

.menu-container span:nth-child(2) {
  top: 10px;
}

.menu-container span:nth-child(3) {
  top: 20px;
}

.menu-container:hover span:nth-child(1) {
  top: 2px;
}

.menu-container:hover span:nth-child(2) {
  top: 10px;
}

.menu-container:hover span:nth-child(3) {
  top: 18px;
}

.menu-container.open span:nth-child(1) {
  top: 9px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.menu-container.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.menu-container.open span:nth-child(3) {
  top: 9px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nextpage-container {
  cursor: pointer;
  z-index: 223;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  width: 1.25em;
  height: 1.75em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nextpage-container span {
  display: flex;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #eee;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.nextpage-container span:nth-child(1) {
  top: 6px;
  transform: rotate(45deg);
}

.nextpage-container span:nth-child(2) {
  top: 19px;
  transform: rotate(-45deg);
}

.nextpage-container:hover span:nth-child(1) {
  top: 8px;
  transform: rotate(35deg);
}

.nextpage-container:hover span:nth-child(2) {
  top: 18px;
  transform: rotate(-35deg);
}

.nextpage-container.up {
  transform: rotate(-90deg);
}

@media screen and (max-width: 560px) {
  .nav-container {
    bottom: 1em;
    right: 1em;
    height: 3em;
    width: 3em;
    padding: 0.25em;
    opacity: 1;
    border-radius: 5px;
    background-color: rgba(17, 17, 17, 0.9);
  }

  .nextpage-container {
    display: none;
  }
}
