.nav-container {
    max-height: 3em;
    background: #eeeeee;
    display: flex;
    color: #666666;
}

.nav-header {
    padding: 0.25em;
    margin: 0;
}

.nav-links {
    display: inline-block;
}
.nav-links li {
    text-decoration: none;
    display: inline;
}

.nav-links li a {
    margin: 0.25em 1em;
    text-decoration: none;
    color: #666666;
    transition: all 0.35s ease-in-out;
}

.nav-links li a:hover {
    background: rgba(250, 250, 250, 0.15);
    transition: all 0.35s ease-in-out;
}